/* Layout */

body {
    font:normal 12px/1.6em Verdana, Geneva, sans-serif;
	margin:0;
	padding:0;
	background:#8EAEBD;
}

p {
	margin:0;
	padding:0;
}

img {
    height: 350px;
    width: 350px;
    opacity: 0.5;
    margin: 100px 100px 100px 100px;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
#wrapper {
	margin:0 auto;
	width: 93%;
	border-left:1px solid #f0e9eb;
	border-right:1px solid #f0e9eb;
	background:#7ECEFD;
}

#header {
	margin: 5px 3px;
}
#footer {
	background:#FFE8A0;
	border-top:1px solid #f0e9eb;
	padding:10px 15px;
	clear:both;
}

/* Global Styling */

a:visited, a:link {
	color:#a43b55;
	text-decoration:underline;
	background:none;
}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:none;
}

.titlel {
    font-size: 140%;
    color: #ef2fff
}

h1 {
	color:#000000;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h2 {
	color:#2185C5;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h3 {
	color:#2185C5;
	margin:10px 0;
	padding-bottom:10px;
	font:bold 14px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

ul {
	padding:0;
	margin:0 0 0 17px;
	list-style:square url('http://img525.imageshack.us/img525/1890/bulletr.gif');
}

.box {
	background:#FFF6E5;
	border:1px solid #FFF6E5;
	padding:15px;
}

#nav {
	background:#2185C5;
	padding:10px 20px;
	text-align:right;
	color:#7ECEFD;
}

#nav a {
	margin: 0 10px;
}

#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#7ECEFD;
}

#nav a:hover {
	text-decoration:underline;
	color:#fd7e7e;
}

#logo {
	margin-bottom:20px;
	font:normal 18px Georgia, serif;
	color:#fd7e7e;
}